.answer{
  padding: 10px;
  margin-bottom: 30px;
}
.question1{
  border-top: 1px solid lightgrey;
}
.highlight{
  background-color: #FCFAB2;
}
.qa-highlight-color{
  background-color: #fafafa !important;
  color: black !important;
}
.explainers-sticky-segment-question{
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 15px;
}
.right-floated-content{
  display: inline;
  float: right;
}
.left-floated-content{
  
}
.item {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
}

.explainers-sticky-segment-question{
  border: 0px;
  border-left: 3px solid white;
}

.explainers-sticky-segment-question:hover{
  border: 0px;
  border-left: 3px solid #F02E2E;
}

.explainers-sticky-segment-question a{
  color: #333 !important;
  font-size: 12px;
  border: 0px;
}

.list-items{
  margin-bottom: 35px;
}

@media only screen and (max-width: 450px){
  .container{
    width: 100%;
  }
  .hero-cover{
    padding: 0px;
  }
  .hero-cover img{
    padding: 0px;
    height: 250px;
    width: auto;
    margin-left: -10px;
  }
  .banner-div{
    padding: 20px;
    left: 0px;
    text-align: center;
  }
  .filter-column{
    display: none;
  }
  #sticky-wrapper{
    display: none;
  }
}
