.barchart {
  display: block;
  visibility: visible;
  position: relative;
  padding-top:20px;
  margin-top: 15px;
}
.resize path {
  fill:black;
  fill-opacity: 0.4;
  stroke: grey;
  stroke-width: 1.5px;
}

.brush .extent {
  fill:black;
  fill-opacity: 0.1;
  shape-rendering: crispEdges;
}
.filter-area{
  display: inline-block;
  width: 100%;
  background: #fafafa;
}

.filter-area .tap-area {
  display: inline-block;
  width: 100%;
  color: #F02E2E;
  text-align: center;
  padding: 15px 0px;
  font-weight: bold;
  cursor: pointer;
  background: #fafafa;
}

.filter-title{
  font-weight: 400;
}

.filter-area .tap-area .tap-area-div{
  margin-left: 350px;
  margin-right: 400px;
  display: inline-block;
}

.filter-area .tap-area .reset-all {
  border: 1px solid #F02E2E;
  color: #F02E2E;
  background-color: #fafafa;
  z-index: 200;
  border-radius: 5px;
  padding: 7px 20px;
}

.filter-area .tap-area .reset-all:hover {
  border: 1px solid #F02E2E;
  color: white;
  background-color: #F02E2E;
}

.display-number{
  font-size: 72px;
  font-weight: 300;
  letter-spacing: 15px;
  top: 328px;
  position: absolute;
  left: 18px;
}

.number-background{
  position: absolute;
}

.single-background{
  background: #fafafa;
  height: 80px;
  width: 50px;
  display: inline-block;
  margin-right: 7px;
  float: left;
  box-shadow: 0px 1px 2px #bdbdbd;
  z-index: -1;
}

.light-text{
  color: #d1d1d1;
}

.count-area{
  height: 80px;
  margin-top: 340px;
}

.display-text{
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
}

.display-text-dropdown{
  background: #F02E2E !important;
  border: 1px solid #F02E2E !important;
  color: white !important;
  font-weight: 400 !important;
  padding: 1px 10px !important;
  border-radius: 4px;
  margin-left: 5px;
  line-height: 32px !important;
  min-height: 0px !important;
}

.dropdown .icon{
  padding: 8px !important;
}

.def-option {
  color: white !important;
}

.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  border: solid #F02E2E;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left:10px;
  margin-right:10px;
}

.arrow-down{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid #F02E2E;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left:10px;
  margin-right:10px;
}

#tap-me{
  display: inline-block;
}

table{
  font-size: 1.1em;
  width: 100%;
  text-align: left;
}

.table-head{
  padding: 5px !important;
}

.proto-graph-code {
  width: 100%;
  height: 100px;
  font-size: 1em;
  padding: 10px 15px;
  color: #999;
  background: #fafafa;
  border: 1px solid #efefef;
  font-family: arial;
  letter-spacing: 0.5px;
  word-wrap: nowrap;
  margin-bottom: 15px;
}

.protograph-container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.protograph-card-area{
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.protograph-card{
  width: 270px;
  height: 150px;
  overflow:hidden;
  display: none;
  /*display: inline-block;*/
  text-align: left;
  background: white;
  margin-left: 15px;
  margin-bottom: 25px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}
.card-image{
  height: 150px;
  filter:grayscale(100%);
  opacity: 0.8;
  filter:sepia(50%);
  filter:blur(2px);
}

.empty-card{
  height: 220px;
  display: inline-block;
}

.filter-section{background: #F2F2F2; margin-bottom: 30px !important;}

.hint{text-align: center; font-size: 11px; color: gray;}

.data-card-content .data-card-title{
  font-size: 16px;
  color: #333;
  font-weight: bold;
  line-height: 1.3em;
  font-family: arial;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.data-card-date{
  display: inline-block;
  font-size: 10px;
  color: #999;
}

.protograph-filters-container{
  width: 100%;
  text-align: center;
  padding: 15px;
}

.protograph-filters{
  display: inline-block;
  padding: 5px
}

.mob-summary-text{
  margin-top: 30px;
}

.geo-borders {
  fill: #fafafa;
  stroke: #ddd;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.geo-region {
  fill: #DADFF4;
}

.region-outline{
  stroke: none;
  fill-opacity: 0;
}

.voronoiWrapper{
  fill: none;
  /*stroke: red;
  stroke-width: 0.5px*/
}

#map_svg{
  padding-top:20px;
  padding-bottom:20px;
  float: left;
}

#map_circles{
  cursor: pointer;
}

.single-tab {
  display: inline-block;
}
.active_tab, .active_tab:hover{
  background: #D80202 !important;
  color: white !important;
}

.card-list-div{
  width: 100% !important;
}
.active_item {
  background: #F02E2E;
  color: white;
}

.filter-title{
  font-weight: 400;
  padding-bottom: 0px !important
}

table{
  font-size: 1.1em;
  width: 100%;
  text-align: left;
}

.table-thead{
  display: block;
}

.table-head{
  font-size: 16px;
  padding: 5px !important;
}

.table-tbody{
  height:150px;
  overflow-y:auto;
  display:block;
  margin-bottom: 25px;
}

tr{
 border-top: 1px solid #efefef;
 font-size: 12px;
}

tr:hover{
  background: #F02E2E;
  cursor: pointer;
}

tr:hover td{
 color: white;
}

tr td{
  padding: 3px 5px;
  width: 100%;
}

tr td:last-child{
  text-align: right;
}

tr:first-child{
  border-top: 0px;
}

thead tr:first-child:hover{
  background: transparent;
  /*pointer-events: none;*/
 }

tr th{
  padding: 3px 5px;
  padding-bottom: 5px;
  vertical-align: bottom;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.filter-help-text{
  color: #b5b5b5;
  display: inline-block;
  margin-left: 5px;
}

.filter-help-text:hover {
  background: #fafafa;
}

.banner-div{
  height: 211px;
  width: 100%;
  position: absolute;
  top: 0px;
  padding: 30px;
}

.project-title{
  font-family: "Noto Serif", serif;
  font-size: 52px;
  font-weight: bold;
  margin-top:0px;
  margin-bottom:0px;
  color: white;
}

.project-tag-line{
  color: white;
  font-weight: 100;
  margin-top: 5px;
}
.modal-dialog{
  width: 675px;
  height:100%;
  margin-top: 200px;
}
.modal-close{
  position: absolute;
  top:0;
  width:20px;
  height:20px;
  cursor:pointer;
  right:0px;
  margin-right: -27px;
  margin-top:-30px;
  color:white;
  font-size: 20px;
}
.modal-backdrop {
  opacity: 0.8 !important;
  background-color:black !important;
  height:100% !important;
}
.modal-body{
  padding: 0px;
}
.show {
  display:block;
  opacity: 1;
}

.protograph-gradient{
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 60%);
  /*background: -o-linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.17) 60%);*/
  /*background: -moz-linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.17) 60%);*/
  /*background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.17) 60%);*/
  pointer-events: none;
}

.data-card-content{
  position: absolute;
  display: inline-block;
  top: 0px;
  width: 100%;
  padding:15px;
}

.data-card-content .data-card-title{
  font-size: 16px;
  color: white;
  font-weight: bold;
  line-height: 1.3em;
  letter-spacing: 0.5px;
  font-family: arial;
  margin-bottom: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.data-card-content .data-card-date{
  display: inline-block;
  font-size: 11px;
  /*color: white;*/
}

#show-more-cards {
  width: 20%;
  background-color: #efefef;
  border: 0px solid grey;
  border-radius: 5px;
  color: white;
  /* padding-top: 5px; */
  /* padding-bottom: 5px; */
  color: #333;
  padding: 11px;
  margin-left: 40%;
  margin-right: auto;
}

.one-br-space{height: 10px !important;}
.two-br-space{height: 20px !important;}
.five-br-space{height: 50px !important;}
.ten-br-space{height: 100px !important;}

.filter-title svg{
  margin-left: -20px;
}
